<nav class="navbar">
    <div class="nav-container">
        <a href="../index.html" class="nav-logo">
            <img src="../assets/images/logos/logo.png" alt="MediAI" class="logo">
            <span class="logo-text">MediAI</span>
        </a>
        <ul class="nav-links" id="navLinks">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../features.html">Features</a></li>
            <li><a href="../hospitals.html">Hospitals</a></li>
            <li><a href="../doctors.html">Doctors</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li><a href="../login.html" class="btn-login">Login</a></li>
            <li><a href="../register.html" class="btn-register">Register</a></li>
        </ul>
        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>